# This file is handled by ansible, the local changes will be overiden

### Output configuration
#
# Example configuration:
#
#   output HDMI-A-1 resolution 1920x1080 position 1920,0
#
# You can get the names of your outputs by running: swaymsg -t get_outputs
#
# Wacom Tablet - Example
#   input "1386:884:Wacom_Intuos_S_Pad" map_to_output HDMI-A-1
#   input "1386:884:Wacom_Intuos_S_Pen" map_to_output HDMI-A-1
#   
    output eDP-1 position 160,1080 scale 1.2
    output DP-1 position 0,0
    output DP-2 position 0,0
    output DP-3 position 0,0
    output DP-4 position 0,0

    workspace 4 output DP-1 DP-2 DP-3 DP-4
    workspace 2 output eDP-1 

# Clamshell Mode
set $laptop <eDP-1>
bindswitch --reload --locked lid:on output $laptop disable
bindswitch --reload --locked lid:off output $laptop enable
exec_always ~/.config/sway/scripts/clamshell.sh
