# This file is handled by ansible, the local changes will be overiden


### Idle configuration
# Switch off displays after 5 mins of inactivity, then lock 30 seconds later
exec swayidle -w\
    timeout 330 'swaylock -f -C ~/.config/swaylock/config'\
    timeout 300 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' \
    before-sleep 'swaylock -C ~/.config/swaylock/config'

## Lock Screen
# Switch off screens 10 mins after locking by hand
set $lockme swayidle \
    timeout  600 'swaymsg "output * power off"' \
    resume 'swaymsg "output * power on"' & \
    swaylock -C ~/.config/swaylock/config ; \
    kill%%

