# This file is handled by ansible, the local changes will be overiden

# Setup clipman clipboard manager
exec wl-paste -t text --watch clipman store 
exec wl-paste -p -t text --watch clipman store -P \
               --histpath="~/.local/share/clipman-primary.json"
# restore clipboard history
exec clipman restore

# Enable screen sharing (assuming wlr portal is already installed)
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP=sway
     
exec systemctl --user stop pipewire pipewire-media-session xdg-desktop-portal xdg-desktop-portal-wlr
exec systemctl --user start pipewire-media-session

