indicator
indicator-caps-lock
scaling=fill
font=UbuntuMono
font-size=20

# Ring
indicator-radius=115
indicator-thickness=30
line-uses-ring
line-color=#00A09D
text-color=#d8dee9
inside-color=#714b67
inside-ver-color=#5e81ac
line-ver-color=#5e81ac
ring-ver-color=#5e81ac98
ring-color=#017E84
key-hl-color=#00A09D
separator-color=#00A09D
layout-text-color=#eceff4
line-wrong-color=#d08770

# Effect
screenshots
clock
effect-scale=0.5
effect-blur=3x5
effect-pixelate=3
effect-vignette=0.5:0.5
effect-scale=2 
effect-compose=50%,77%;center;/home/odoo/.config/swaylock/lock_overlay.gif
fade-in=.5
grace= 2
grace-no-mouse
grace-no-touch
